* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.c-flex {
    display: flex;
 }

.c {
    width: 75%;
    margin: 20px auto;
}

/* HEADER */

header {
    background-color: bisque;
    padding: 20px;
}

h1 {
    margin: 0 auto;
    
}


/* MAIN */

.main-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background-color: bisque;
}


button {
    padding: 15px;
    background-color: blue;
    color: white;
    border: 0;
    border-radius: 5px;
    width: 100px;
    margin-bottom:  20px;

}